{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Becarios</h1>
    
    <div class="row">
    {{ form(form) }}
    </div>
    
    <div class="row">
        
        <a class="btn btn-info col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5" role="button"  href="{{ path('becarios') }}">
            Volver a la lista
        </a>
    </div>
{% endblock %}
